<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
  <meta name="author" content="{{ data.author.name }}">

	<!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
 	{{# stylesheets.load }}
 	  bootstrap.min.css
 	  style.css
 	  google_prettify/sons-of-obsidian.css
 	  main.css
    skeleton.css
	{{/ stylesheets.load }}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== 
  <!-- Le fav and touch icons -->
  <!-- Update these with your own images-->
  <link rel="stylesheet" href="/assets/media/ss-social-regular.css">

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->


<div class="container">	
    <header id="site_header"></header>
    
    <div id="sidebar" class="four columns">
      <h1><a href="{{urls.base_path}}">{{ data.title }}</a></h1>
      <nav>
        {{# data.navigation?to__root }}
          {{> pages_list }}
        {{/ data.navigation?to__root }}
      </nav>
    </div>
		
    <div id="content" class="twelve columns">			
      {{{ content }}}
		</div>

    <div id="site_footer" class="sixteen columns offset-by-one">
      <h5>powered by <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">Ruhoh </a>
      and <a href="http://pages.github.com/" target="_blank" title="Github Pages">Github Pages</a></h5>
    
      <ul class="social_links">
        <li><a href="http://twitter.com/jliyi" target="_blank" class="ss-twitter"><span class="tooltip">Twitter</span></a></li>
        <li><a href="http://mochie.tumblr.com" target="_blank" class="ss-tumblr"><span class="tooltip">Tumblr</span></a></li>
        <li><a href="https://github.com/estimate/estimate.github.io/tree/blog" target="_blank" class="ss-octocat"><span class="tooltip">Fork</span></a></li>
        <li><a href="https://plus.google.com/105832633459216628536/about?partnerid=gplp0" target="_blank" class="ss-googleplus"><span class="tooltip">Google, Gmail</span></a></li>
        <li><a href="mailto:jennifer_io@yahoo.com" target="_blank" class="ss-mail"><span class="tooltip">Contact</span></a></li>
       	<li><a href="/posts/rss.xml" target="_blank" class="ss-rss"><span class="tooltip">RSS</span></a></li>
      </ul>
    </div>
</div><!-- container -->


    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
    {{{ widgets.mathjax }}}

    <script type="text/javascript" src="/assets/media/latex2html5.min.js"></script> 


<!-- End Document
================================================== -->
</body>
</html>