<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
			<title>but she's a girl...</title>
		<meta charset="utf-8" />
		<meta name="description" content="">
	<meta name="author" content="bsag">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="http://www.rousette.org.uk/blog/theme/css/style.css">
	<link rel="stylesheet" href="http://www.rousette.org.uk/blog/theme/css/pygments.css">

	<!-- Javascript
	================================================== -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 7]>
		<script src="http://www.rousette.org.uk/blog/theme/js/lte-ie7.js"></script>
	<![endif]-->


	<!-- Typekit fonts
	================================================== -->
	<!--[if lte IE 7]><script src="http://www.rousette.org.uk/blog/theme/js/lte-ie7.js"></script><![endif]-->
	<script type="text/javascript" src="//use.typekit.net/rrt4dpp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>



	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="http://www.rousette.org.uk/blog/favicon.ico">
<!-- 
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
 -->
	<!-- Feeds
	================================================== -->
	<link href="http://www.rousette.org.uk/blog/feeds/recent_articles.xml" type="application/atom+xml" rel="alternate" title="but she's a girl... ATOM Feed" />
	
	</head>

<body>

	<div class="container">


		<div id="logo" class="five columns alpha">&nbsp;</div>

		<div id="site-title" class="eleven columns omega">
            <h1><a href="http://www.rousette.org.uk/blog">but she's a girl...</a></h1>
            <h2 class="subheader">[Femina geekoides]</h2>
        </div>

		<hr />
  
		<aside id="sidebar" class="four columns">
			<nav>
				<ul>
	                <li><a href="http://www.rousette.org.uk/blog/" title="Home" data-icon="&#xe001;"><span class="hidetoggle"> home</span></a></li>
	                <li><a href="http://www.rousette.org.uk/blog/about/" title="About Me" data-icon="&#xe00e;"><span class="hidetoggle"> about</span></a></li>
	                <li><a href="http://www.rousette.org.uk/blog/archives/" title="Archives" data-icon="&#xe005;"><span class="hidetoggle"> archives</span></a></li>
	                <li><a href="http://www.rousette.org.uk/blog/tags/" title="Tags" data-icon="&#xe004;"><span class="hidetoggle"> tags</span></a></li>
	                <li><a href="http://www.rousette.org.uk/blog/feeds/recent_articles.xml" title="Atom feed" data-icon="&#xe011;"><span class="hidetoggle"> feed</span></a></li>
                </ul>
			</nav>
		</aside>

		<div id="content" class="eleven columns offset-by-one omega">
								
<div id="posts">
				<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/two-years-at-sea/" rel="bookmark"
					title="Permalink to Two Years at Sea">Two Years at&nbsp;Sea</a>
			</h3>
			<div class="meta">
				<time datetime="2013-06-16T18:21:50" pubdate data-updated="true">16 Jun 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/film/">film</a></span>
											<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/review/">review</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/two-years-at-sea/#disqus_thread">View comments</a></span>
			  </div>
			<p>I&#8217;m quite fond of quiet, reflective, almost wordless films. I watch my fair share of action films too, but I can sit entranced for hours in front of <a href="http://www.imdb.com/title/tt0478160/?ref_=fn_al_tt_1">Into Great Silence</a> or <a href="http://www.imdb.com/title/tt1646975/?ref_=sr_1">Le Quattro Volte</a>. There&#8217;s something about quietly observing someone who is apparently utterly contented with their life and at one with their environment, going about their business in tranquil surroundings. Last night we watched another such film: <a href="http://www.benrivers.com/sea.html">Two Years at Sea</a> by Ben&nbsp;Rivers.</p>
<p>The film is fairly extraordinary to look at. Ben uses a wind-up 16mm film camera, and develops the black and white film himself. The quality of the film is therefore interestingly imperfect. The film is often grainy, and there are pulses of light, blooms of chemicals on the emulsion and a slightly jittery effect that creates a dreamy ambience. &#8216;Two Years at Sea&#8217; follows a man called Jake Williams, who was also the subject of Rivers&#8217; 2006 film, <a href="http://www.benrivers.com/land.html">This is My Land</a>. Jake lives alone in the middle of a coniferous forest in Aberdeenshire, and appears to be largely self-sufficient. The title derives from the fact that he funded his dream of retreat from mainstream society by working as a merchant seaman for two years. However, other than the title, there is no reference to this in the&nbsp;film.</p>
<p>I suspect that this is a divisive film that you would either love or be intensely frustrated by. There is no plot and no dialogue<sup id="fnref:1"><a class="footnote-ref" href="#fn:1" rel="footnote">1</a></sup>. The only music is that played by Jake himself on record players and the cassette player in his car as he works (an interesting mix of folk, blues and Indian music). You never find out anything about him, other than what you intuit from the tiny clues in the film. There are glimpses of old photographs from his former life, and you see him constructing strange contraptions whose purpose is&nbsp;obscure.</p>
<p>Despite this lack of plot and backstory &#8211; or perhaps <em>because</em> of it &#8211; it&#8217;s a beautiful, affecting film. I don&#8217;t really want to live in such a ramshackle way, but his apparent utter contentment and absorption with the daily tasks of his life made me yearn for that kind of life and freedom. It&#8217;s an odd kind of freedom, because he is reliant upon himself entirely for everything, including entertainment, but he makes it seem so&nbsp;attractive.</p>
<p>In the film, we follow him around as he potters through his daily tasks. He whistles &#8216;Somewhere Over the Rainbow&#8217; as he makes use of his rather Heath Robinson-esque shower arrangements. He clears out an old caravan and then lies down on the bed inside it to nap, looking perfectly at peace. There&#8217;s a lovely shot where Rivers films the caravan window from the outside, so that you see the reflection of the woodland surrounding the caravan and Jake&#8217;s serene face floating in the midst of the foliage like the Green Man. And he has a lovely face &#8211; a gentle, weathered face framed by a shock of wild grey hair and a luxuriant grey beard. He looks a bit like Gandalf might if he retired from&nbsp;wizarding.</p>
<p>Jake naps quite a lot, of which I heartily approve. We see him lying fully clothed on a bed of heather on a misty moor, and he even walks some distance to a mountain lochan, lugging four large plastic drums and a wooden framework. From these he constructs a wobbly but innovative raft with a plastic container at each corner, and two inflatable lilos on top. I assumed that he was going to use it as a platform to fish, but there&#8217;s a long sequence where he laboriously constructs this raft, paddles out some way and then lies down and drifts on it. The water is black and glassy, and the silence is only broken by the sound of the wind in the distant trees and the clucking calls of grouse. It looked utterly peaceful, and made me long to be lying on that&nbsp;raft.</p>
<p>I think that his willingness to be patient and to find innovative ways to work with nature is best summed up by his explanation of his hedge laying technique, which is in the <span class="caps">DVD</span> extras. If you&#8217;re not in a hurry, he says, you just tie a string along the line where you want the hedge. Then you hang bird feeders from the string. As the birds feed, they leave their droppings along the line, which contain the seeds of wild trees and shrubs. Thus, in due course, you get a native hedge along the line of your&nbsp;string.</p>
<div class="footnote">
<hr />
<ol>
<li id="fn:1">
<p>Almost no dialogue: Jake says &#8216;chesty cough&#8217; at one point when reading a label on a bottle of cough syrup. But that&#8217;s it.&#160;<a class="footnote-backref" href="#fnref:1" rev="footnote" title="Jump back to footnote 1 in the text">&#8617;</a></p>
</li>
</ol>
</div>
		</article>

						<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/pinging-feedpress-from-pelican/" rel="bookmark"
					title="Permalink to Pinging FeedPress from Pelican">Pinging FeedPress from&nbsp;Pelican</a>
			</h3>
			<div class="meta">
				<time datetime="2013-06-15T16:27:50" pubdate data-updated="true">15 Jun 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/geek/">geek</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/pinging-feedpress-from-pelican/#disqus_thread">View comments</a></span>
			  </div>
			<p>Back in April, I wrote about how to <a href="http://www.rousette.org.uk/blog/archives/ping-uri-dot-lv-from-octopress/" title="Ping URI.LV from Octopress">ping <span class="caps">URI</span>.<span class="caps">LV</span> from Octopress</a>. Since I am now using Pelican, and <span class="caps">URI</span>.<span class="caps">LV</span> has updated its domain to FeedPress.it, I thought I would post an update about how to do the same thing if you are using Pelican to generate ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/pinging-feedpress-from-pelican/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/in-your-shoes/" rel="bookmark"
					title="Permalink to In your shoes">In your&nbsp;shoes</a>
			</h3>
			<div class="meta">
				<time datetime="2013-06-09T14:50:00" pubdate data-updated="true">09 Jun 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/life/">life</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/in-your-shoes/#disqus_thread">View comments</a></span>
			  </div>
			<p>I&#8217;ve been enjoying a <span class="caps">TV</span> programme called the <a href="http://www.bbc.co.uk/programmes/p018400g">Time Traveller&#8217;s Guide to Elizabethan England</a> with Dr Ian Mortimer. It&#8217;s a history programme about Elizabethan England, obviously, but the conceit is that it is framed as a kind of manual for a time traveller thinking of visiting the ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/in-your-shoes/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/running-pelican/" rel="bookmark"
					title="Permalink to Running Pelican">Running&nbsp;Pelican</a>
			</h3>
			<div class="meta">
				<time datetime="2013-06-08T11:12:18" pubdate data-updated="true">08 Jun 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/geek/">geek</a></span>
											<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/software/">software</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/running-pelican/#disqus_thread">View comments</a></span>
			  </div>
			<p>I <a href="http://www.rousette.org.uk/blog/archives/spring-clean-design/">wrote earlier today</a> about updating this blog&#8217;s design in the process of switching from <a href="http://octopress.org/">Octopress</a> to <a href="http://docs.getpelican.com/">Pelican</a> to generate the site. As I said then, the move shouldn&#8217;t be construed as falling out of love with Octopress. I have a terrible problem with tinkering, and if a ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/running-pelican/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/spring-clean-design/" rel="bookmark"
					title="Permalink to Spring Clean Design">Spring Clean&nbsp;Design</a>
			</h3>
			<div class="meta">
				<time datetime="2013-06-08T09:38:00" pubdate data-updated="true">08 Jun 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/blogging/">blogging</a></span>
											<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/geek/">geek</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/spring-clean-design/#disqus_thread">View comments</a></span>
			  </div>
			<p>I&#8217;ve been pretty busy over the past few weeks for one reason or another. Exam marking and other administration has been very intense, and Mr. Bsag had to go in for planned surgery on his foot, which generated a bit of domestic upheaval. Things have calmed down a bit ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/spring-clean-design/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/learning-python-again/" rel="bookmark"
					title="Permalink to Learning Python again">Learning Python&nbsp;again</a>
			</h3>
			<div class="meta">
				<time datetime="2013-05-19T19:06:00" pubdate data-updated="true">19 May 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/geek/">geek</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/learning-python-again/#disqus_thread">View comments</a></span>
			  </div>
			<p>For the past month or so, I&#8217;ve been having another go at learning <a href="http://www.python.org/" title="Python">Python</a>, partly prompted by the fact that <a href="http://www.sublimetext.com/" title="Sublime Text Editor">Sublime Text editor</a> plugins are written in Python. My first attempt was probably about 14 years ago. I had some (self-taught) programming experience with <span class="caps">BASIC</span>, Arachnid and Pascal, but ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/learning-python-again/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/the-way-of-the-megapode/" rel="bookmark"
					title="Permalink to The Way of the Megapode">The Way of the&nbsp;Megapode</a>
			</h3>
			<div class="meta">
				<time datetime="2013-05-05T19:17:00" pubdate data-updated="true">05 May 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/mumblings/">mumblings</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/the-way-of-the-megapode/#disqus_thread">View comments</a></span>
			  </div>
			<p>One of my favourite books about natural history is <a href="http://lastchancetosee.com/" title="Last Chance to See by Douglas Adams and Mark Carwardine">Last Chance to See</a> written by the late Douglas Adams (not actually a biologist) and Mark Carwardine (actually a biologist). Douglas Adams, of course, could write about just about anything and make it both thought-provoking and funny, and in Last Chance ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/the-way-of-the-megapode/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/regional-terms-of-endearment-to-strangers/" rel="bookmark"
					title="Permalink to Regional terms of endearment to strangers">Regional terms of endearment to&nbsp;strangers</a>
			</h3>
			<div class="meta">
				<time datetime="2013-04-28T19:17:00" pubdate data-updated="true">28 Apr 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/mumblings/">mumblings</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/regional-terms-of-endearment-to-strangers/#disqus_thread">View comments</a></span>
			  </div>
			<p>The door bell rings and I open it to find that it&#8217;s the delivery guy from a courier company. He&#8217;s a regular on this route, and happens to be from the <a href="http://en.wikipedia.org/wiki/Black_Country">Black Country</a>. &#8220;Owroight chick?&#8221; he says, &#8220;Can you sign this for me?&#8221; If you&#8217;re not used ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/regional-terms-of-endearment-to-strangers/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/ping-uri-dot-lv-from-octopress/" rel="bookmark"
					title="Permalink to Ping URI.LV from Octopress">Ping <span class="caps">URI</span>.<span class="caps">LV</span> from&nbsp;Octopress</a>
			</h3>
			<div class="meta">
				<time datetime="2013-04-20T16:53:00" pubdate data-updated="true">20 Apr 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/geek/">geek</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/ping-uri-dot-lv-from-octopress/#disqus_thread">View comments</a></span>
			  </div>
			<p>If you use Octopress and the excellent <a href="http://uri.lv/"><span class="caps">URI</span>.<span class="caps">LV</span></a> service (as I do) to manage and track your feeds, and you have a Premium account, you might be interested to know that you can use the new <span class="caps">API</span> to notify <span class="caps">URI</span>.<span class="caps">LV</span> immediately when you have updated your content. I ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/ping-uri-dot-lv-from-octopress/">Continue reading</a>
		</article>
					<article>
			<h3 class="post-title">
				<a href="http://www.rousette.org.uk/blog/archives/newsblur/" rel="bookmark"
					title="Permalink to NewsBlur">NewsBlur</a>
			</h3>
			<div class="meta">
				<time datetime="2013-04-14T17:40:00" pubdate data-updated="true">14 Apr 2013</time>

															<span class="tag"><a href="http://www.rousette.org.uk/blog/tag/geek/">geek</a></span>
												      <span class="comments-link"><a href="http://www.rousette.org.uk/blog/archives/newsblur/#disqus_thread">View comments</a></span>
			  </div>
			<p><span class="caps">RSS</span> reader applications and frameworks are in a period of flux. As you&#8217;ll know if you read the technology news, <a href="http://googlereader.blogspot.co.uk/2013/03/powering-down-google-reader.html" title="Google announcement about Google Reader shut down">Google announced recently</a> that it would shut down Google Reader on 1st July 2013. While it&#8217;s probably true that the number of people using Google Reader&#8217;s interface ...</p>

			<a class="readmore" href="http://www.rousette.org.uk/blog/archives/newsblur/">Continue reading</a>
		</article>
	</div><!-- posts -->


<div id="paginator">
<div class="five columns alpha left">
	&nbsp;
		</div>
	<div class="six columns omega right">
		&nbsp;
					<a href="http://www.rousette.org.uk/blog/index2.html" class="button_accent">older&nbsp;&nbsp;&nbsp;&rarr;</a>
			</div>
</div><!-- #paginator -->
		</div><!-- twelve column -->

		<hr />

		<div id="search" class="four columns alpha">
			<h5>Search</h5>
            <form action="http://duckduckgo.com/" method="get">
                <fieldset role="search">
                    <input type="hidden" name="sites" value="rousette.org.uk/blog" />
                    <input class="search" type="text" name="q" results="0" placeholder="Search&hellip;"/>
                </fieldset>
            </form>
		</div><!-- search -->

		<div id="elsewhere" class="six columns offset-by-one">
			<h5>Activity elsewhere</h5>
			<ul>
               <li><a href="http://slipstream.rousette.org.uk/" data-icon="&#xe00b;"><span class="visuallyhidden">slipstream</span></a></li>
                <li><a href="http://www.flickr.com/photos/bsag/" data-icon="&#xe003;"><span class="visuallyhidden">photos</span></a></li>
                <li><a href="http://pinboard.in/u:bsag" title="Interesting links on Pinboard" data-icon="&#xe008;"><span class="visuallyhidden">bookmarks</span></a></li>
                <li><a href="http://letterboxd.com/bsag/" title="Films I've watched on Letterboxd" data-icon="&#xe002;"><span class="visuallyhidden">watching</span></a></li>
                <li><a href="http://www.librarything.com/home/bsag" title="Books I've read on LibraryThing" data-icon="&#xe006;"><span class="visuallyhidden">reading</span></a></li>
                <li><a href="http://www.last.fm/user/bsag" title="Music I've listened to on Last.fm" data-icon="&#xe015;" ><span class="visuallyhidden">listening</span></a></li>
			</ul>
		</div><!-- activity -->

		<div id="social" class="five columns omega">
			<h5>Social media</h5>
			<ul>
                <li><a href="https://alpha.app.net/bsag" title="Follow me on App.net" data-icon="&#xe000;"><span class="visuallyhidden">App.net</span></a></li>
                <li><a href="https://twitter.com/bsag" title="Follow me on Twitter" data-icon="&#xe010;"><span class="visuallyhidden">Twitter</span></a></li>
                <li><a href="https://github.com/bsag" title="My code on Github" data-icon="&#xe014;"><span class="visuallyhidden">Github</span></a></li>
                <li><a href="http://pinterest.com/bsag/boards/" title="Interesting stuff I've pinned" data-icon="&#xe016;"><span class="visuallyhidden">Pinterest</span></a></li>
			</ul>
		</div><!-- social -->

		<footer id="copyright" class="sixteen columns">
			<p>Copyright &copy; 2002-2013 bsag &#183; 
				Powered by <a href="http://docs.getpelican.com/">Pelican</a> &#183; 
				Running on <a href="http://linode.com/">Linode</a></p>
		</footer>

	</div><!-- container -->

	<script type="text/javascript">
      var disqus_shortname = 'bsag';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
	<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.rousette.org.uk/" : "http://stats.rousette.org.uk/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.rousette.org.uk/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>