.constrainer{margin:0 auto;padding:0;width:940px}

.offstage{position:absolute;top:-9999px;left:-9999px}

.tooltip{position:absolute;bottom:100%;left:50%;margin-bottom:12px;margin-left:-36px;width:70px;padding:8px;color:#fff;color:rgba(255,255,255,0.7);text-align:center;background-color:#322f36;border-radius:3px;z-index:2}

.tooltip:after{position:absolute;display:block;bottom:-16px;left:50%;margin-left:-8px;content:'';border:8px solid transparent;border-top-color:#322f36}

body{color:#6d717d;font-size:20px;line-height:1.8;font-family:'Palatino', 'Open Sans', sans-serif;background-color:#FFFAFA;-webkit-text-size-adjust:none}::selection{background:#8adde5}::-moz-selection{background:#8adde5}

h1,h2,h3,h4,h5,h6{color:#514168;font-family:"museo-slab",'Verdana','Arial',serif;font-weight:300;font-weight:normal;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited{font-weight:inherit;border:none;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,h1 a:focus,h2 a:focus,h3 a:focus,h4 a:focus,h5 a:focus,h6 a:focus{font-weight:inherit;border:none;}

h1{font-size:2.6em;margin-bottom:10px}
h2{font-size:2.2em;margin-bottom:10px}
h3{font-size:1.5em}

a,a:visited{color:#8B5F65;border-bottom:1px dotted #999999;outline:0;-webkit-transition:color 0.2s;-mox-transition:color 0.2s;transition:color 0.2s;}
a:hover,a:focus{color:#CD5555;border-bottom:1px solid #CD5555;-webkit-transition:color 0.2s;-mox-transition:color 0.2s;transition:color 0.2s;}

#site_header{background-color:#524860;border-bottom:8px solid #524860;overflow:hidden}

#sidebar{margin-top:30px;}

#sidebar h1{font-family:"museo-slab",'Verdana','Arial',sans-serif;font-style:normal;font-size:30px;}
#sidebar h1 a{color:#8B5F65}
#sidebar h1 a:hover{color:#388E8E}

#sidebar nav {list-style-type:none;}
#sidebar nav li{padding:10px;}
#sidebar nav li a{color:#999999;border:2px solid #999999;border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px;padding:5px 8px;}
#sidebar nav li a:link{color:#999999;}
#sidebar nav li a:hover{color:#388E8E;border:2px solid #388E8E;outline:0;}
#sidebar nav li a:active{color:#388E8E;outline:0;}
#sidebar nav li a:focus{outline:thin dotted;}


#content{margin-top:10px;}


#site_footer{padding:35px 0;background-color:#8B8386;border-top:10px solid #F0FFFF;color:#EEEEE0;font-size:20px;font-family:'HelveticaNeue-Light'}

#site_footer a{color:#EEEEE0;text-decoration:none;border:none;}

#site_footer a:hover{border-bottom:2px #8B4789 solid;color:#EEE0E5}

#site_footer .social_links{float:right}

#site_footer .social_links li{position:relative;display:inline-block}

#site_footer .social_links li+li{margin-left:10px}

#site_footer .social_links li a{display:block;text-decoration:none}

#site_footer .social_links li a:before{font-size:1.5em}

#site_footer .social_links li .tooltip{display:none}

#site_footer .social_links li:hover .tooltip{display:block}

@media screen and (max-width: 1000px){
	.constrainer{padding:0 30px;width:auto}}

@media screen and (max-width: 960px){
	h1{font-size:2.2em}
	h2{font-size:2em}
	h3{font-size:1.3em}

	#site_footer{text-align:center}
	#site_footer br{display:none}
	#site_footer .social_links{float:none;margin-bottom:20px}}

@media screen and (max-width: 320px){
	.constrainer{padding:0 15px}
	h1{font-size:1.5em}
	h2{font-size:1.4em}
	h3{font-size:1.15em}
	#site_header{text-align:center}
	#site_header h1,#site_header nav{float:none}
	#site_header h1{font-size:1.5em;line-height:80px}
	#site_header nav{line-height:30px}
	#site_footer{font-size:0.85em}}
	